# комментарий — эта строка игнорируется
# не обрабатывать файлы, имя которых заканчивается на .o
*.o
# НО отслеживать файл lib.a, несмотря на то, что мы игнорируем все .a файлы с помощью предыдущего правила
#!lib.a
# игнорировать только файл TODO находящийся в корневом каталоге, не относится к файлам вида subdir/TODO
#/TODO
# игнорировать все файлы в каталоге build/
MDK-ARM/proba/
# игнорировать doc/notes.txt, но не doc/server/arch.txt
#doc/*.txt
# игнорировать все .txt файлы в каталоге doc/
#doc/**/*.txt

MDK-ARM/proba.uvguix.Сергей